[package]
name = "s2n-codec"
version = "0.1.0"
authors = ["Cameron Bytheway <bythewc@amazon.com>"]
edition = "2018"
license = "Apache-2.0"

[features]
default = ["std"]
std = []
testing = ["std", "generator"]
checked_range_unsafe = []
generator = ["bolero-generator"]

[dependencies]
bolero-generator = { version = "0.6", default-features = false, optional = true }
byteorder = { version = "1.1", default-features = false }
zerocopy = "0.3"
zerocopy-derive = "=0.2.1"
