target = "https://www.rfc-editor.org/rfc/rfc9000#section-14.2.1"

[[TODO]]
quote = '''
An endpoint MUST ignore an ICMP message that claims the PMTU has
decreased below QUIC's smallest allowed maximum datagram size.
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"

[[TODO]]
quote = '''
QUIC endpoints using PMTUD SHOULD validate ICMP messages to protect
from packet injection as specified in [RFC8201] and Section 5.2 of
[RFC8085].
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"

[[TODO]]
quote = '''
This validation SHOULD use the quoted packet supplied in
the payload of an ICMP message to associate the message with a
corresponding transport connection (see Section 4.6.1 of [DPLPMTUD]).
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"

[[TODO]]
quote = '''
ICMP message validation MUST include matching IP addresses and UDP
ports [RFC8085] and, when possible, connection IDs to an active QUIC
session.
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"

[[TODO]]
quote = '''
The endpoint SHOULD ignore all ICMP messages that fail
validation.
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"

[[TODO]]
quote = '''
An endpoint MUST NOT increase the PMTU based on ICMP messages; see
Item 6 in Section 3 of [DPLPMTUD].
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"

[[TODO]]
quote = '''
Any reduction in QUIC's maximum
datagram size in response to ICMP messages MAY be provisional until
QUIC's loss detection algorithm determines that the quoted packet has
actually been lost.
'''
feature = "Incorporate PTB messages into DPLPMTUD"
tracking-issue = "628"
