[[exception]]
target = "https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#9.4"
quote = '''
Because port-only changes are commonly the
result of NAT rebinding or other middlebox activity, the endpoint MAY
instead retain its congestion control state and round-trip estimate
in those cases instead of reverting to initial values.
'''
reason = '''
We create a new congestion controller for each path. At this time an unintentional rebind will cause the CC to start from an initial state. The path is amplification limited anyway, so there will always be a short drop in performance during a rebind.
'''
