[package]
name = "s2n-quic-platform"
version = "0.1.0"
authors = ["Cameron Bytheway <bythewc@amazon.com>", "Matthias Einwag <einwag@amazon.com>"]
edition = "2018"
publish = false

[features]
default = ["std", "ipv6"]
ipv6 = []
mmsg = []
std = ["s2n-quic-core/std", "lazy_static"]
testing = ["std"] # Testing allows to overwrite the system time

[dependencies]
cfg-if = "0.1"
lazy_static = { version = "1.4", optional = true }
libc = "0.2"
mio = { version = "0.6", optional = true }
net2 = "0.2"
s2n-codec = { version = "0.1.0", path = "../../common/s2n-codec" }
s2n-quic-core = { version = "0.1.0", path = "../s2n-quic-core" }

[dev-dependencies]
s2n-quic-core = { version = "0.1.0", path = "../s2n-quic-core", features = ["std"] }
