[workspace]
members = [
    "common/s2n-*",
    "quic/s2n-*",
]
resolver = "2"
# don't include any workspaces outside of the main project
exclude = [
    "examples",
    "tools",
]

[profile.bench]
lto = true
codegen-units = 1
incremental = false
# improve flamegraph information
debug = true

[profile.fuzz]
inherits = "dev"
opt-level = 3
incremental = false
codegen-units = 1

[profile.release-debug]
inherits = "release"
debug-assertions = true
debug = true

[profile.release-bench]
inherits = "bench"
