[workspace]
members = [
    "common/compliance/cargo-compliance",
    "common/s2n-*",
    "quic/s2n-*",
    "tls/amzn-s2n-*",
]

[profile.release]
lto = true
codegen-units = 1
incremental = false

[profile.bench]
lto = true
codegen-units = 1
incremental = false
