[package]
name = "s2n-quic-tls"
version = "0.29.0"
description = "Internal crate used by s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.63"
license = "Apache-2.0"
# Exclude corpus files when publishing to crates.io
exclude = ["corpus.tar.gz"]

[features]
unstable_client_hello = []
unstable_private_key = []

[dependencies]
bytes = { version = "1", default-features = false }
errno = "0.3"
libc = "0.2"
s2n-codec = { version = "=0.7.0", path = "../../common/s2n-codec", default-features = false }
s2n-quic-core = { version = "=0.28.0", path = "../s2n-quic-core", default-features = false, features = ["alloc"] }
s2n-quic-crypto = { version = "=0.29.0", path = "../s2n-quic-crypto", default-features = false }
s2n-tls = { version = "=0.0.36", features = ["quic"] }

[dev-dependencies]
checkers = "0.6"
jobserver = "=0.1.26" # newer versions require rust 1.66, see https://github.com/aws/s2n-quic/issues/1991
pin-project = { version = "1" }
openssl = { version = "0.10" }
# Build the vendored version to make it easy to test in dev
#
# NOTE: The version of the `openssl-sys` crate is not the same as OpenSSL itself.
#       Versions 1.0.1 - 3.0.0 are automatically discovered.
openssl-sys = { version = "0.9", features = ["vendored"] }
s2n-quic-core = { path = "../s2n-quic-core", features = ["testing"] }
s2n-quic-rustls = { path = "../s2n-quic-rustls" }

# we don't use openssl-sys directly; it's just here to pin and vendor in dev
# jobserver is just here to pin as well, it is a dependency of openssl-sys
[package.metadata.cargo-udeps.ignore]
development = [ "openssl-sys", "jobserver" ]
