# https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#6.2.1
#
# 6.2.1.  Version Negotiation Between Draft Versions
#
# [[RFC editor: please remove this section before publication.]]
# 
# When a draft implementation receives a Version Negotiation packet, it
# MAY use it to attempt a new connection with one of the versions
# listed in the packet, instead of abandoning the current connection
# attempt; see Section 6.2.
# 
# The client MUST check that the Destination and Source Connection ID
# fields match the Source and Destination Connection ID fields in a
# packet that the client sent.  If this check fails, the packet MUST be
# discarded.
# 
# Once the Version Negotiation packet is determined to be valid, the
# client then selects an acceptable protocol version from the list
# provided by the server.  The client then attempts to create a new
# connection using that version.  The new connection MUST use a new
# random Destination Connection ID different from the one it had
# previously sent.
# 
# Note that this mechanism does not protect against downgrade attacks
# and MUST NOT be used outside of draft implementations.

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#6.2.1"
level = "MAY"
quote = '''
When a draft implementation receives a Version Negotiation packet, it
MAY use it to attempt a new connection with one of the versions
listed in the packet, instead of abandoning the current connection
attempt; see Section 6.2.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#6.2.1"
level = "MUST"
quote = '''
The client MUST check that the Destination and Source Connection ID
fields match the Source and Destination Connection ID fields in a
packet that the client sent.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#6.2.1"
level = "MUST"
quote = '''
If this check fails, the packet MUST be
discarded.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#6.2.1"
level = "MUST"
quote = '''
The new connection MUST use a new
random Destination Connection ID different from the one it had
previously sent.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-transport-32.txt#6.2.1"
level = "MUST"
quote = '''
Note that this mechanism does not protect against downgrade attacks
and MUST NOT be used outside of draft implementations.
'''

