[advisories]
vulnerability = "deny"
unmaintained = "deny"
notice = "deny"
yanked = "deny"
ignore = [
    "RUSTSEC-2021-0139", # criterion, structopt, and tracing-subscriber (test dependencies) use ansi_term
]

[bans]
multiple-versions = "deny"

skip-tree = [
    # This dependency needs to be updated or removed (see https://github.com/axiomhq/rust-cuckoofilter/pull/53)
    { name = "cuckoofilter" },

    # all of these are going to be just test dependencies
    { name = "aes-gcm" },
    { name = "bach" },
    { name = "bolero" },
    { name = "criterion" },
    { name = "insta" },

    # Ignore duplicate dependencies in private s2n-quic crates
    { name = "s2n-quic-bench" },
    { name = "s2n-quic-events" },
    { name = "s2n-quic-h3" },
    { name = "s2n-quic-qns" },
    { name = "s2n-quic-sim" },
    { name = "s2n" },
]

[sources]
allow-git = [
    "https://github.com/hyperium/h3", # TODO: Remove once hyperium h3 is in crates.io
]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
unlicensed = "deny"
allow-osi-fsf-free = "neither"
copyleft = "deny"
confidence-threshold = 0.9
# ignore licenses for private crates
private = { ignore = true }
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "OpenSSL",
    "Unicode-DFS-2016",
    "Zlib",
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[[licenses.clarify]]
name = "webpki"
expression = "ISC"
license-files = [
    { path = "LICENSE", hash = 0x001c7e6c },
]

[[licenses.clarify]]
name = "encoding_rs"
version = "*"
expression = "(Apache-2.0 OR MIT) AND BSD-3-Clause"
license-files = [
    { path = "COPYRIGHT", hash = 0x39f8ad31 }
]
