[package]
name = "s2n-quic"
version = "0.1.0"
authors = ["Cameron Bytheway <bythewc@amazon.com>", "Matthias Einwag <einwag@amazon.com>"]
edition = "2018"
license = "Apache-2.0"

[features]
default = ["std", "protocol-extensions", "rand", "rustls", "tokio"]
protocol-extensions = []
std = ["bytes/std", "futures/std", "s2n-quic-core/std", "s2n-quic-platform/std", "thiserror"]
rustls = ["s2n-quic-rustls"]

[dependencies]
bytes = { version = "0.5", default-features = false }
cfg-if = "0.1"
futures = { version = "0.3", default-features = false }
rand = { version = "0.7", optional = true }
s2n-codec = { version = "0.1", path = "../../common/s2n-codec", default-features = false }
s2n-quic-core = { version = "0.1", path = "../s2n-quic-core", default-features = false }
s2n-quic-platform = { version = "0.1", path = "../s2n-quic-platform", default-features = false }
s2n-quic-rustls = { version = "0.1", path = "../s2n-quic-rustls", optional = true }
thiserror = { version = "1.0", optional = true }
tokio = { version = "0.2", optional = true, features = ["rt-core", "time", "udp"] }

[dev-dependencies]
s2n-codec = { version = "0.1", path = "../../common/s2n-codec", default-features = false }
s2n-quic-core = { version = "0.1", path = "../s2n-quic-core", features = ["testing"] }
s2n-quic-platform = { version = "0.1", path = "../s2n-quic-platform", features = ["testing"] }
tokio = { version = "0.2", features = ["full"] }
