target = "https://www.rfc-editor.org/rfc/rfc9001#section-8.2"

[[exception]]
quote = '''
Endpoints MUST NOT send this extension in a TLS connection that does
not use QUIC (such as the use of TLS with TCP defined in [TLS13]). A
fatal unsupported_extension alert MUST be sent by an implementation
that supports this extension if the extension is received when the
transport is not QUIC.
'''
reason = '''
TLS support is implemented through a provider and is unenforceable by
s2n-quic.
'''
