[package]
name = "s2n-quic-xdp"
version = "0.51.0"
description = "Internal crate used by s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.71"
license = "Apache-2.0"
# Exclude corpus files when publishing to crates.io
exclude = ["corpus.tar.gz"]

[features]
default = ["tokio"]

[dependencies]
aya = { version = "0.13", default-features = false }
bitflags = "2"
errno = "0.3"
libc = "0.2"
s2n-codec = { workspace = true }
s2n-quic-core = { workspace = true }
tokio = { version = "1", features = ["net"], optional = true }

[dev-dependencies]
bolero.workspace = true
futures = "0.3"
pin-project-lite = "0.2"
rand = "0.8"
s2n-quic-core = { workspace = true, features = ["testing"] }
tokio = { version = "1", features = ["full"] }

[lints.rust.unexpected_cfgs]
level = "warn"
check-cfg = [
    'cfg(s2n_quic_xdp_trace)',
]
