[package]
name = "s2n-quic-xdp"
version = "0.1.0"
edition = "2021"

[features]
default = ["tokio"]

[dependencies]
bitflags = "2"
errno = "0.3"
libc = "0.2"
s2n-quic-core = { path = "../../../quic/s2n-quic-core" }
tokio = { version = "1", optional = true }

[dev-dependencies]
bolero = "0.9"
rand = "0.8"
s2n-quic-core = { path = "../../../quic/s2n-quic-core", features = ["testing"] }
tokio = { version = "1", features = ["full"] }
