# https://tools.ietf.org/id/draft-ietf-quic-tls-32.txt#6.3
#
# 6.3.  Timing of Receive Key Generation
#
# Endpoints responding to an apparent key update MUST NOT generate a
# timing side-channel signal that might indicate that the Key Phase bit
# was invalid (see Section 9.4).  Endpoints can use dummy packet
# protection keys in place of discarded keys when key updates are not
# yet permitted.  Using dummy keys will generate no variation in the
# timing signal produced by attempting to remove packet protection, and
# results in all packets with an invalid Key Phase bit being rejected.
# 
# The process of creating new packet protection keys for receiving
# packets could reveal that a key update has occurred.  An endpoint MAY
# perform this process as part of packet processing, but this creates a
# timing signal that can be used by an attacker to learn when key
# updates happen and thus the value of the Key Phase bit in certain
# packets.  Endpoints MAY instead defer the creation of the next set of
# receive packet protection keys until some time after a key update
# completes, up to three times the PTO; see Section 6.5.
# 
# Once generated, the next set of packet protection keys SHOULD be
# retained, even if the packet that was received was subsequently
# discarded.  Packets containing apparent key updates are easy to forge
# and - while the process of key update does not require significant
# effort - triggering this process could be used by an attacker for
# DoS.
# 
# For this reason, endpoints MUST be able to retain two sets of packet
# protection keys for receiving packets: the current and the next.
# Retaining the previous keys in addition to these might improve
# performance, but this is not essential.

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-tls-32.txt#6.3"
level = "MUST"
quote = '''
Endpoints responding to an apparent key update MUST NOT generate a
timing side-channel signal that might indicate that the Key Phase bit
was invalid (see Section 9.4).
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-tls-32.txt#6.3"
level = "MAY"
quote = '''
An endpoint MAY
perform this process as part of packet processing, but this creates a
timing signal that can be used by an attacker to learn when key
updates happen and thus the value of the Key Phase bit in certain
packets.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-tls-32.txt#6.3"
level = "MAY"
quote = '''
Endpoints MAY instead defer the creation of the next set of
receive packet protection keys until some time after a key update
completes, up to three times the PTO; see Section 6.5.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-tls-32.txt#6.3"
level = "SHOULD"
quote = '''
Once generated, the next set of packet protection keys SHOULD be
retained, even if the packet that was received was subsequently
discarded.
'''

[[spec]]
target = "https://tools.ietf.org/id/draft-ietf-quic-tls-32.txt#6.3"
level = "MUST"
quote = '''
For this reason, endpoints MUST be able to retain two sets of packet
protection keys for receiving packets: the current and the next.
'''

