[package]
name = "s2n-quic-crypto"
version = "0.7.2"
description = "Internal crate used by s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.56"
license = "Apache-2.0"
# Exclude corpus files when publishing to crates.io
exclude = ["corpus.tar.gz"]

[features]
default = []
testing = []

[dependencies]
cfg-if = "1"
lazy_static = "1"
ring = { version = "0.16", default-features = false }
s2n-codec = { version = "=0.1.0", path = "../../common/s2n-codec", default-features = false }
s2n-quic-core = { version = "=0.7.2", path = "../s2n-quic-core", default-features = false }
zeroize = { version = "1", default-features = false, features = ["zeroize_derive"] }

[dev-dependencies]
aes = "0.8"
aes-gcm = "0.9"
bolero = "0.7"
ctr = "0.9"
ghash = "0.4"
hex-literal = "0.3"
insta = "1"
pretty-hex = "0.3"
s2n-quic-core = { path = "../s2n-quic-core", features = ["testing"] }

[[test]]
name = "fuzz_target"
path = "tests/fuzz_target/main.rs"
harness = false
