[package]
name = "s2n-quic-rustls"
version = "0.3.0"
description = "Internal crate used by s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2018"
license = "Apache-2.0"
# Exclude corpus files when publishing to crates.io
exclude = ["corpus.tar.gz"]

[dependencies]
bytes = { version = "1", default-features = false }
rustls = { version = "0.20", features = ["quic"] }
rustls-pemfile = "0.3"
s2n-codec = { version = "=0.1.0", path = "../../common/s2n-codec", default-features = false }
s2n-quic-core = { version = "=0.3.0", path = "../s2n-quic-core", default-features = false }
s2n-quic-crypto = { version = "=0.3.0", path = "../s2n-quic-crypto", default-features = false }

[dev-dependencies]
insta = "1"
s2n-quic-core = { path = "../s2n-quic-core", features = ["testing"] }
