[package]
name = "s2n-quic-tls-default"
version = "0.31.0"
description = "Internal crate used by s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.63"
license = "Apache-2.0"
# Exclude corpus files when publishing to crates.io
exclude = ["corpus.tar.gz"]

[target.'cfg(unix)'.dependencies]
s2n-quic-tls = { version = "=0.31.0", path = "../s2n-quic-tls" }

[target.'cfg(not(unix))'.dependencies]
s2n-quic-rustls = { version = "=0.31.0", path = "../s2n-quic-rustls" }

[target.'cfg(unix)'.dev-dependencies]
# newer versions require rust 1.66, see https://github.com/aws/s2n-quic/issues/1991
# this version pin is only needed to prevent verification failures when using
# cargo package / cargo publish, as those commands do not respect the version pin
# in downstream dev-dependencies (in s2n-quic-tls, in this case)
jobserver = "=0.1.27"

# jobserver is just here to pin
[package.metadata.cargo-udeps.ignore]
development = [ "jobserver" ]
