[package]
name = "s2n-quic-tls-default"
version = "0.3.0"
description = "Internal crate used by s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2018"
license = "Apache-2.0"
# Exclude corpus files when publishing to crates.io
exclude = ["corpus.tar.gz"]

[target.'cfg(unix)'.dependencies]
s2n-quic-tls = { version = "=0.3.0", path = "../s2n-quic-tls" }

[target.'cfg(not(unix))'.dependencies]
s2n-quic-rustls = { version = "=0.3.0", path = "../s2n-quic-rustls" }
