[package]
name = "tester"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
aya = { workspace = true, features = ["async_tokio"] }
aya-log = { workspace = true }
aya-log-common = { workspace = true }
clap = { version = "4.1", features = ["derive"] }
anyhow = "1.0.68"
env_logger = "0.11"
log = "0.4"
s2n-quic-xdp = { path = "../s2n-quic-xdp" }
tokio = { version = "1.24", features = ["macros", "rt", "rt-multi-thread", "net", "signal"] }
