[package]
name = "xdp-tester"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
aya = { version = "0.13", features = ["async_tokio"] }
aya-log = "0.2.1"
clap = { version = "4.1", features = ["derive"] }
anyhow = "1.0.68"
env_logger = "0.11"
log = "0.4"
s2n-quic-xdp = { workspace = true }
tokio = { version = "1.24", features = ["macros", "rt", "rt-multi-thread", "net", "signal"] }
