[package]
name = "s2n-quic-qns"
version = "0.1.0"
authors = ["Cameron Bytheway <bythewc@amazon.com>", "Matthias Einwag <einwag@amazon.com>"]
edition = "2018"
license = "Apache-2.0"
publish = false

[features]
default = []

[dependencies]
bytes = { version = "1", default-features = false }
dhat = { version = "0.2", optional = true }
futures = "0.3"
http = "0.2"
hyperium-h3 = { git = "https://github.com/hyperium/h3", package = "h3" }
s2n-quic-core = { path = "../s2n-quic-core", features = ["testing"] }
structopt = "0.3"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2"

[target.'cfg(unix)'.dependencies]
s2n-quic = { path = "../s2n-quic", features = ["tracing-provider", "connection-migration", "rustls", "s2n-tls"] }

[target.'cfg(not(unix))'.dependencies]
s2n-quic = { path = "../s2n-quic", features = ["tracing-provider", "connection-migration", "rustls"] }
