[package]
name = "s2n-quic-tests"
# this in an unpublished internal crate so the version should not be changed
version = "0.1.0"
description = "Integration tests for s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.88"
license = "Apache-2.0"
# this only contains internal tests and should not be published
publish = false

[dependencies]
bach = "0.1.0"
bytes = { version = "1", default-features = false }
futures = { version = "0.3", default-features = false, features = ["std"] }
rand = "0.10"
rand_chacha = "0.9"
s2n-codec = { path = "../../common/s2n-codec" }
s2n-quic-core = { path = "../s2n-quic-core", features = ["branch-tracing", "event-tracing", "probe-tracing", "testing"] }
s2n-quic = { path = "../s2n-quic", features = ["provider-event-tracing", "unstable-provider-io-testing", "unstable-provider-dc", "unstable-provider-packet-interceptor", "unstable-provider-random", "unstable-offload-tls"] }
s2n-quic-platform = { path = "../s2n-quic-platform", features = ["tokio-runtime"] }
s2n-quic-transport = { path = "../s2n-quic-transport", features = ["unstable_resumption", "unstable-provider-dc"] }
tokio = { version = "1", features = ["full"] }
tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zerocopy = { version = "0.8", features = ["derive"] }

# quiche does not currently build on 32-bit platforms
# see https://github.com/cloudflare/quiche/issues/2097
[target.'cfg(not(target_arch = "x86"))'.dependencies]
quiche = "0.25"

# s2n-tls is required by ch_callback_server_local_address_test and doesn't build on Windows
[target.'cfg(not(target_os = "windows"))'.dependencies]
s2n-tls = "0.3.31"

[target.'cfg(unix)'.dependencies]
s2n-quic = { path = "../s2n-quic", features = ["provider-event-tracing", "provider-tls-s2n", "unstable-provider-io-testing", "unstable-provider-dc", "unstable-provider-packet-interceptor", "unstable-provider-random", "unstable-offload-tls", "unstable_client_hello"] }
