[package]
name = "s2n-quic-sim"
# this in an unpublished internal crate so the version should not be changed
version = "0.1.0"
description = "A simulation environment for s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.88"
license = "Apache-2.0"
publish = false

[dependencies]
anyhow = "1"
bytes = "1"
bolero-generator = "0.13.0"
indicatif = { version = "0.18", features = ["rayon"] }
jiff = "0.2"
once_cell = "1"
prost = "0.14"
rand = "0.10"
rayon = "1"
s2n-quic = { path = "../s2n-quic", features = ["unstable-provider-io-testing", "provider-event-tracing"] }
s2n-quic-core = { path = "../s2n-quic-core", features = ["testing"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
structopt = "0.3"
toml = "1.0"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
