[package]
name = "s2n-quic-sim"
# this in an unpublished internal crate so the version should not be changed
version = "0.1.0"
description = "A simulation environment for s2n-quic"
repository = "https://github.com/aws/s2n-quic"
authors = ["AWS s2n"]
edition = "2021"
rust-version = "1.63"
license = "Apache-2.0"
publish = false

[dependencies]
anyhow = "1"
bytes = "1"
humantime = "2"
indicatif = { version = "0.17", features = ["rayon"] }
once_cell = "1"
prost = "0.11"
rand = "0.8"
rayon = "1"
s2n-quic = { path = "../s2n-quic", features = ["unstable-provider-io-testing", "provider-event-tracing"] }
s2n-quic-core = { path = "../s2n-quic-core", features = ["testing"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
# >0.6.1 breaks compatibility with 1.63
# See https://github.com/aws/s2n-quic/issues/1735
serde_spanned = "=0.6.1"
structopt = "0.3"
toml = "0.7"
# >0.6.1 breaks compatibility with 1.63
# See https://github.com/aws/s2n-quic/issues/1735
toml_datetime = "=0.6.1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
# >0.4.1 breaks compatibility with 1.63
# See https://github.com/aws/s2n-quic/issues/1735
winnow = "=0.5.15"
