[package]
name = "s2n-quic-transport"
version = "0.1.0"
authors = ["Cameron Bytheway <bythewc@amazon.com>", "Matthias Einwag <einwag@amazon.com>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
bimap = { version = "0.6", default-features = false }
bytes = { version = "1", default-features = false }
hashbrown = "0.9"
s2n-codec = { version = "0.1", path = "../../common/s2n-codec", default-features = false }
s2n-quic-core = { version = "0.1", path = "../s2n-quic-core", default-features = false }
siphasher = "0.3"
intrusive-collections = "0.9"
smallvec = { version = "1.3", default-features = false }

[dev-dependencies]
bolero = "0.6"
compliance = { path = "../../common/compliance/compliance" }
futures-test = "0.3" # For testing Waker interactions
insta = "1.0"
s2n-codec = { path = "../../common/s2n-codec", features = ["testing"] }
s2n-quic-core = { version = "0.1", path = "../s2n-quic-core", features = ["testing"] }
s2n-quic-platform = { path = "../s2n-quic-platform", features = ["testing"] }
