on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/release.yml'

  release:
    types: [published]

name: release

jobs:
  qns:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.4.0

      - name: Compute tags
        id: tags
        run: |
          DOCKER_IMAGE=awslabs/s2n-quic/s2n-quic-qns
          VERSION=main
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          TAGS="${DOCKER_IMAGE}:${VERSION}"
          # mark the latest on release
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
            TAGS="$TAGS\n${DOCKER_IMAGE}:latest"
          fi
          echo "::set-output name=tags::${TAGS}"

      - name: Login to GitHub Packages
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          tags: ${{ steps.tags.outputs.tags }}
          file: quic/s2n-quic-qns/etc/Dockerfile.build
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
